<h1>Award or Takeaway Points</h1>

<h3>username: <%= @user.username %></h3>
<h3>points: <%= @user.points %></h3>

<p>Enter the points you would like to award or takeaway:</p>

<%= form_for(@user, url: admin_user_path(@user), method: :patch) do |f| %>
  <%= f.label :points %>
  <%= f.text_field :points %>
  <%= f.submit "Award Points" %>
<% end %>
